.board {
  -fx-background-image: url("table-background.jpg");
}

.button {
  -fx-background-color: linear-gradient(#707070, #585858);
  -fx-pref-width: 350px;
  -fx-background-radius: 30;
  -fx-background-insets: 0;
  -fx-text-fill: white;
  -fx-font-size: 50px;
}

.button:hover {
  -fx-text-fill: black;
}

.blue-button {
  -fx-background-color: linear-gradient(#7ebcea, #2f4b8f);
}

.player-score {
  -fx-font-size: 40pt;
}

.root {
  -fx-font-size: 30pt;
}

.slider {
  -fx-font-size: 20pt;
}

.slider .thumb {
  -fx-pref-height: 30;
  -fx-pref-width: 30;
}

.slider .track {
  -fx-pref-height: 20;
}

#current-score {
  -fx-font-size: 20pt;
}

#keep-score {
  -fx-background-color: linear-gradient(#ff5400, #be1d00);
}
